html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#iframe {
    width: 100vw;
    height: 100vh;
    border: none;
    display: none;
}
